[
	{ rabbit, [
		{cluster_nodes, {[ 'rabbit1@rabbit1' ], disc}},
    {tcp_listen_options, [binary, {backlog, 1024}, {nodelay, true}, {keepalive, true} ]},
    {vm_memory_high_watermark, 0.6},
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass, <<"password">> },
		{ default_user, <<"admin">> },
		{ hipe_compile, false }
	] },

	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] },
		{load_definitions, "/etc/rabbitmq/definitions.json"}
	] }
].
